{% extends 'core/base.html' %}
{% load static %}
{% block title %}Perfiles{% endblock %}
{% block content %}
<style>.profile-avatar{float:left;width:4rem;height:4rem}.profile-data{padding-left:4.5rem;padding-top:.4rem;}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-5 mx-auto">
        <h2>Perfiles</h2>
        <div class="row text-center">
          {% for profile in profile_list %}
              <div class="col-sm-6" style="margin-top: 10%">
                <div class="card">
                  <div>
                    <h5 class="card-title">{{profile.user|truncatechars:"16"}}</h5>
                    {% if profile.avatar %}
                      <img class="card-img-top" src="{{profile.avatar.url}}" style="width: 10rem;height: 9rem;" alt="Card image cap">
                    {% else %}
                      <img class="card-img-top" src="{% static 'registration/img/no-avatar.jpg' %}" style="width: 10rem; height: 9rem;" alt="Card image cap" >
                    {% endif %}
                    <a class="btn btn-primary" href="{% url 'profiles:detail' profile.user %}">Ver perfil</a>
                  </div>
                </div>
              </div>
          {% endfor %}
        </div>
        <!-- Menú de paginación -->
        {% if is_paginated %}
          <nav aria-label="Page navigation" style="margin-top: 10%">
            <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
                <li class="page-item ">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                </li>
              {% endif %}
              {% for i in paginator.page_range %}
                <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
              {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item ">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          </nav>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}