{% extends 'core/base.html' %}
{% load static %}
{% block title %}Perfiles{% endblock %}
{% block content %}
<style>.profile-avatar{float:left;width:4rem;height:4rem}.profile-data{padding-left:4.5rem;padding-top:.4rem;}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-5 mx-auto">
        <div class="text-center"><h2>Perfiles</h2></div>
        <div class="row text-center">
          {% for profile in profile_list %}
              <div class="col-sm-6" style="margin-top: 10%">
                <div class="card" style="width: 12rem;">
                  <div>
                    {% if profile.avatar %}
                      <img src="{{profile.avatar.url}}" alt="John" style="width:94%; margin-top: 3%; border-radius: 3%;">
                    {% else %}
                    <img src="{% static 'registration/img/usuario.jpg' %}" alt="John" style="width:94%; margin-top: 3%; border-radius: 3%;">
                    {% endif %}
                    <h2>{{profile.user|truncatechars:"16"}}</h2>
                    {% if profile.bio %}<p class="card-profile-title">{{profile.bio}}</p>{% endif %}
                    <a class="card-profile-button" href="{% url 'profiles:detail' profile.user %}">Ver perfil</a>
                  </div>
                </div>
              </div>
          {% endfor %}
        </div>
        
        <!-- Menú de paginación -->
        {% if is_paginated %}
          <nav aria-label="Page navigation" style="margin-top: 10%">
            <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
                <li class="page-item ">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                </li>
              {% endif %}
              {% for i in paginator.page_range %}
                <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
              {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item ">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          </nav>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}