{% extends 'core/base.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block content %}
{% include 'pages/includes/pages_menu.html' %}

<main role="main">
  <div class="container mb-4">
    {% for page in page_list|dictsort:"id" reversed %}
      <div class="card">
        <h5 class="card-header"><cite><strong>{{page.title}}</strong></cite></h5>
         <div class="card-body">
          <div>
            <p class="card-text">{{page.content|striptags|safe|truncatechars:"200"}}</p>
            <p><a class="btn btn-secondary active" href="{% url 'pages:page' page.id page.title|slugify %}">Leer más</a>
              
              {% if request.user.is_staff %}
                <a class="btn btn-info active" href="{% url 'pages:update' page.id %}">Editar</a>
                <a class="btn btn-danger active" href="{% url 'pages:delete' page.id %}">Borrar</a>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</main>
{% endblock %}


