{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>

<main role="main">
  <div class="container">
    <div class="row mt-9">
      <div class="col-md-6 mx-auto mb-9">
        <div class="card" style="width: 36rem;height: 40rem;">
          <div class="card-body">
            <form action="" method="post">{% csrf_token %}
              <h3 class="mb-4">Registro</h3>
              {{form.as_p}}
              <p><input type="submit" style="margin-top: 6%" class="btn btn-info btn-block" value="Confirmar"></p>
            </form>
          </div>
        </div>
      </div>  
    </div>
  </div>
</main>
{% endblock %}